@keyframes siren-notif-appear {
    0% {
        opacity: 0;
        top: 20px;
    }

    100% {
        opacity: 1;
        top: 8px;
    }
}

/*body {
    background: #DA4453; 
    background: -webkit-linear-gradient(to right, #89216B, #DA4453); 
    background: linear-gradient(to right, #89216B, #DA4453);
}*/
    /*background-image: url(https://img.freepik.com/free-vector/background-with-dar-wave-concept_23-2148387248.jpg?w=740&t=st=1708312757~exp=1708313357~hmac=0d53f67dd2016314d7ebcf2cfb16768ff51991ce9a0e735df7def5f53b072ed8);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

body{
    background-image: url('../assets/home_bg.jpg');
    background-size: cover;
    background-position: center;
}*/
body{
    background: linear-gradient(to right, #1f0834, #31176e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.page-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    font-family: arial;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 2.5rem;
    display: flex;
    text-align: left;
}

.title-desc {
    font-family: arial;
    color: rgb(0, 0, 0);
    margin-top: 0.5rem;
    font-weight: 500;
    text-align: left;
}

.title-image img{
    width: 200px;
    height: 200px;
}

.vote-container, .result-container-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.voting-option-container {
    width: 260px;
    height: 300px;
    margin: 20px;
}

.voting-option-container label {
    width: 100%;
    height: 100%;
}

.option-label-div {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    display: flex;
    box-sizing: border-box;
    padding: 7%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    background-color: white;
    border-radius: 8px;
    transition: transform 0.5s ease-in-out;
}

.vote-container input {
    display: none;
}

.vote-photo {
    width: 200px;
    height:200px;
    border-radius: 16px;
}

.vote-name {
    font-family: arial;
    font-size: 2.3rem;
    font-weight: 600;
}

input:checked + label {
    .option-label-div {
        border: 4px solid #5FC6D9;
        box-shadow: 0px 0px 10px #5FC6D9,
                0px 0px 10px #5FC6D9 inset;
    }
}

.status {
    color: black;
    display: flex;
    text-align: left;
    width: 100%;
    flex-direction: row;
}

.siren-icon {
    margin-right: 1rem;
}

.siren-parent-div {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.siren-icon:hover + .siren-notif-block {
    animation-name: siren-notif-appear;
    animation-duration: 0.3s;
    display: block;
    z-index: 4;
}

.siren-notif-block {
    position: relative;
    background-color: #1a1a1af6;
    color: white;
    width: 250px;
    display: flex;
    text-align: center;
    top: 10px;
    padding: 10px;
    right: 90px;
    border-radius: 8px;
    display: none;
}

.option-label-div:hover {
    background-color: #dddddd;
}

.option-bar {
    width: 80vw;
}

.tab-pane {
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 30px;
    padding: 20px;
}

.tab-pane-button{
    padding: 0px 30px;
}

.tab-pane-button:not(.active) {
    color: white;
}

.tab-pane-button:not(.active):hover {
    color: rgb(189, 189, 189);
}

.vote-button-container {
    display: flex;
    justify-content: center;
}

#myTab .nav-item {
    margin-right: 20px;
    margin-left: 20px;
}

.title-desc-div {
    padding: 20px;
    margin-top: 10vh;
    /*background: #B24592;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #F15F79, #B24592);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #F15F79, #B24592); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: white;
    border-radius: 8px;
    width: 80vw;
    color: black;
    border: 10px solid #5FC6D9;
    box-shadow: 0px 0px 10px #5FC6D9,
            0px 0px 10px #5FC6D9 inset;
}

.title-addtional-info {
    font-weight: 750;
}
.title-desc-parent {
    flex-direction: row;
}

@media (max-width: 999px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        z-index: 100;
    }

    .navigation-left, .navigation-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title-desc-parent {
        flex-direction: column;
    }

    .page-title {
        margin-top: 2vh;
    }
}

.status-text {
    font-size: 1.2rem;
    font-weight: 648;
}

.notification-text{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
    font-size: 1rem;
}

.result-container {
    background-color: white;
    padding: 10px;
    width: 260px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    margin: 20px;
}

.result-percent {
    font-size: 2rem;
    font-weight: 700;
}

.result-status {
    width: fit-content;
    background-color: aliceblue;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.2rem;
}

.title-img {
    height: 400px;
    width: 400px;
}
.title-img-div{
    height: 400px;
    width: 400px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.width-100 {
    width: 100%;
}

.width-90 {
    width: 95%;
}

.span-1 {
    margin-left: .5rem;
}

.span-2 {
    margin-left: 1rem;
}

.title-position{
    justify-content: flex-start;
}

.title-contents{
    margin-left: 2.5rem;
    margin-right: 1.5rem;
}

.title-creator{
    text-decoration: underline;
    font-size: 15px;
    font-weight:500;
}

.setting-button{
    margin: 20px 0px;
}

.tab-item{
    margin: 0px 30px;
}